{% extends "base.html" %}


{% block content %}
    <br>Hírek:
    <div class="hir-wrapper center">
        {% for hir in hirek%}
            <div class="hir-card">
                {% if hir.dt == today %}
                    <p class="hir-cim m-0"><a href="hirek/{{hir.id}}">{{hir.cim}}</a></p>
                    <p class="hir-friss hir-dt">{{hir.dt}}</p>
                {% else %}
                    <p class="hir-cim m-0"><a href="hirek/{{hir.id}}">{{hir.cim}}</a></p>
                    <p class="hir-dt">{{hir.dt}}</p>
                {% endif %}
                <p class="hir-szerzo">írta: {{hir.nev}}</p>
                <p class="hir-szerzo-desc">Az íróról: {{hir.leiras}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}